:root {
  --background-color: #fff;
  --text-color: #121416d8;
  --link-color: #543fd7;
}

html[data-theme='light'] {
  --background-color: #fff;
  --background-alt-color: #dae0e6;
  --background-accent-color: #f1f3f4;
  --border-color: #161b22;
  --text-color: #121416d8;
  --create-border-color: #c4c4c4;
  --link-color: #543fd7;
  --accent-color: #07AD6D;
  --border-hover: #161B22FF
}

html[data-theme='dark'] {
  --background-color: #0d1117;
  --background-alt-color: #0D1117FF;
  --background-accent-color: #161b22;
  --create-border-color: rgba(255, 255, 255, 0.09);
  --border-color: #f1f3f4;
  --text-color: rgba(247, 248, 248, 0.97);
  --link-color: #828fff;
  --accent-color: #07AD6D;
  --border-hover: rgba(245, 245, 245, 0.49);
}

html {
  scroll-behavior: smooth;
}

body {
  font: 14px "Roboto", Helvetica, Arial, sans-serif;
  color: var(--text-color);
  margin: 0;
  padding: 0;
  /*overflow-x: hidden;*/
}

a {
  color: var(--text-color);
  text-decoration: none;
}
.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-alt-color);
}

.home-content {
  width: 75vw;
  min-height: calc(100vh - 50px);
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.content-left {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-left h1 {
  font-size: 52px;
  border-bottom: var(--accent-color);
}

.content-left p {
  width: 550px;
  font-size: 28px;
}

.content-right {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-image {
  background-image: url("../images/undraw_social_update.svg");
  background-size: cover;
  width: 300px;
  height: 300px;
}