.content {
    width: 100vw;
    /*min-height: calc(100vh - 50px);*/
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--background-alt-color);
}

.container {
    width: 40rem;
    min-height: 100%;
}